@font-face {
    font-family: Muller;
    font-weight: 400;
    src: url("/fonts/MullerRegular.woff2") format("woff2"),
        url("/fonts/MullerRegular.woff") format("woff");
}

@font-face {
    font-family: Muller;
    font-weight: 500;
    src: url("/fonts/MullerMedium.woff2") format("woff2"),
        url("/fonts/MullerMedium.woff") format("woff");
}

@font-face {
    font-family: Muller;
    font-weight: 700;
    src: url("/fonts/MullerBold.woff2") format("woff2"),
        url("/fonts/MullerBold.woff") format("woff");
}

/* common */

.link_type_1 {
    display: inline-block;

    transition: color .3s ease;

    line-height: 24px;
    color: #CC9933;
    font-family: Muller;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    border: 1px solid transparent;
    text-decoration: none;
}

.link_type_1:hover {
    color: #E9C379;
}

.link_type_1:focus {
    color: #CC9933;

    border: 1px solid #CC9933;
}

.link_type_1:active {
    color: #A47312;
}

.content-font-style {
    color: #000000;
    font-size: 16px;
    font-family: Muller;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

* {
    font-family: Muller;
    font-weight: 400;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body {
    background: #F1F1F1;
}

.section-placing__star-empty {
    fill: #E6E6E6;
}

.container {
    width: 1170px;
    margin: 0px auto;
}

.btn {
    padding: 13px 20px;

    border: 1px solid #CC9933;
    border-radius: 10px;

    transition-property: color, background-color;
    transition-timing-function: ease;
    transition-duration: .5s;

    color: #CC9933 !important;
    background-color: white;
    font-size: 16px;
    font-family: Muller;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;

    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #CC9933;
    color: white !important;
}

.btn:active {
    background-color: #A47312;
    color: white !important;
}

.login-link {
    padding: 9px 5px;
    color: #CC9933;

    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;

    border: 1px solid transparent;
}

.login-link__icon {
    display: inline-block;
    vertical-align: middle;

    width: 21px;
    height: 13px;
    margin-right: 5px;

    background-image: url("/img/header_login_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.login-link__text {
    display: inline-block;
    vertical-align: middle;
}

.header__login-link:hover {
    /* color:#E9C479; */
    filter: brightness(0) saturate(100%) invert(100%) sepia(24%) saturate(6077%) hue-rotate(312deg) brightness(104%) contrast(81%);
    border: 1px solid transparent;
}

.header__login-link:focus {
    border: 1px solid #CC9933;
    /* color: #CC9933; */
    filter: brightness(0) saturate(100%) invert(62%) sepia(16%) saturate(1887%) hue-rotate(1deg) brightness(100%) contrast(76%);
}

.header__login-link:active {
    border: 1px solid transparent;
    /* color:#A47312; */
    filter: brightness(0) saturate(100%) invert(52%) sepia(84%) saturate(4712%) hue-rotate(29deg) brightness(94%) contrast(86%);
}

/* header */
.header__container {
    margin-bottom: 30px;
    margin-top: 30px;

    display: flex;
    align-items: center;
}

.header__right {
    margin-left: auto;
}

.header__tel-link {
    margin-left: 40px;
    padding: 2px;

    transition: color .3s ease;
    border: 1px solid transparent;

    color: #666666;
    text-decoration: none;

    font-family: Muller;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.header__tel-link:hover {
    color: #CC9933;
    border: 1px solid transparent;
}

.header__tel-link:focus {
    color: #CC9933;
    border: 1px solid #CC9933;
}

.header__tel-link:active {
    color: #A47312;
    border: 1px solid transparent;
}


/* main-nav */
.main-nav {
    display: flex;
    justify-content: center;
    padding: 0px 45px;
    margin-bottom: 70px;

    border-radius: 15px;
    background: #FFFFFF;
}

.main-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav__item {
    text-align: center;

    padding: 27px 0px;
}

.main-nav__list a {
    flex-grow: 0;
    flex-shrink: 0;

    text-align: center;

    text-decoration: none;
    color: #666666;

    font-family: Muller;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.main-nav__list a:hover,
.main-nav__list a:focus {
    color: #CC9933;

}

.main-nav__list a:active {
    color: #A47312;
}

.main-nav__list a:not(:last-child) {
    margin-right: 45px;
}


.main-nav__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-left: 1px #E1E1E1 solid;
    padding-left: 57px;
    margin-left: 56px;
}

.main-nav__button:not(:last-child) {
    margin-right: 40px;
}


/* section common rules */
.section-heading {
    padding-left: 40px;
    margin-top: 0px;

    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

/* section-hero */
.section-hero {
    margin-bottom: 70px;
}

.section-hero__heading {
    margin-bottom: 20px;
}

.section-hero__list {
    display: flex;
    justify-content: center;
}

.section-hero__left-block,
.section-hero__right-block {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.section-hero__left-block {
    margin-right: 23px;
}

.section-hero__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    flex: 1 1 258px;
    padding: 40px;
    box-sizing: border-box;

    border-radius: 15px;

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section-hero__item:not(:last-child) {
    margin-bottom: 23px;
}

.section-hero__img-1 {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("/img/hero1.png");
}

.section-hero__img-2 {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("/img/hero2.png");
}

.section-hero__img-3 {
    background-image: url("/img/hero3.png");
}

.section-hero .section-hero__item-heading__big {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}

.section-hero .section-hero__item-price__big {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.section-hero__item-heading {
    max-width: 60%;

    color: white;

    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.section-hero__link-container {
    margin-top: 47px;
}

.section-hero__link {
    display: inline-block;
    vertical-align: middle;

    color: #FFCC66;

    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    text-decoration: none;
}

.section-hero__link:active {
    color: #FFFFFF;
}

.section-hero__item-price {
    margin-top: 15px;

    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.section-hero__link-icon {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 18px;

    background-image: url("/img/section_hero_item_link.svg");
    background-repeat: no-repeat;
}

/* sectuin about us */

.section-about {
    max-width: 75%;
    margin-bottom: 70px;
}

.section-about__heading {
    margin: 0px 0px 11px 0px;
}

.section-about__text {
    margin: 0px;
}

/* sectuin services */
.section-services {
    margin-bottom: 47px;
}

.section-services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-services__heading {
    margin-bottom: 20px;
}

.section-services__link-icon {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 18px;

    background-image: url("/img/services/link.svg");
    background-repeat: no-repeat;
}

.section-services__link-icon path {
    transition: stroke .3s ease;
}

.section-services__item {
    flex: 0 0 573px;
    margin-bottom: 23px;
    padding: 190px 45px 45px 45px;
    box-sizing: border-box;

    border-radius: 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: cover;
}


.section-services__item-heading {
    color: #CC9933;

    transition: color .3s ease;

    text-decoration: none;
    font-family: Muller;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.section-services__item-heading:hover,
.section-services__item-heading:hover .section-services__link-icon path {
    color: #E9C479;
    stroke: #E9C479;
}

.section-services__item-heading:active,
.section-services__item-heading:active .section-services__link-icon path {
    color: #A47312;
    stroke: #A47312;
}

.section-services__content {
    margin: 0px;
}

.section-services__img1 {
    background-image: url("/img/services/1.png");
}

.section-services__img2 {
    background-image: url("/img/services/2.png");
}

.section-services__img3 {
    background-image: url("/img/services/3.png");
}

.section-services__img4 {
    background-image: url("/img/services/4.png");
}

/* section benefits */
.section-benefits {
    /* 70-23 */
    margin-bottom: 47px;
}

.section-benefits__heading {
    margin-bottom: 30px;
}

.section-benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.section-benefits__item {
    flex: 0 0 275px;
    min-height: 275px;
    box-sizing: border-box;
    margin-bottom: 23px;

    padding: 40px 40px 10px 45px;
    margin-right: 23px;

    background-color: white;
    border-radius: 15px;
}

.section-benefits__item:nth-child(4n) {
    margin-right: 0px !important;
}


.section-benefits__item-icon {
    width: 67px;
    height: 67px;
    background-repeat: no-repeat;
}

.section-benefits__item-text {
    margin: 10px 0px 0px 0px;
}

.section-benefits__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.section-benefits__icon-bathtub {
    background-image: url("/img/benefit-icons/bathtub.svg");
}

.section-benefits__icon-hanger {
    background-image: url("/img/benefit-icons/hanger.svg");
}

.section-benefits__icon-heating {
    background-image: url("/img/benefit-icons/heating.svg");
}

.section-benefits__icon-hotel-key {
    background-image: url("/img/benefit-icons/hotel-key.svg");
}

.section-benefits__icon-parking {
    background-image: url("/img/benefit-icons/parking.svg");
}

.section-benefits__icon-reception {
    background-image: url("/img/benefit-icons/reception.svg");
}

.section-benefits__icon-security-box {
    background-image: url("/img/benefit-icons/security-box.svg");
}

.section-benefits__icon-swimming-pool {
    background-image: url("/img/benefit-icons/swimming-pool.svg");
}

/* placing section */
.section-placing {
    margin-bottom: 47px;
}

.section-placing__heading {
    margin-bottom: 30px;
}

.section-placing__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section-placing__item {
    box-sizing: border-box;
    flex: 0 0 374px;
    max-width: 374px;
    min-height: 440px;
    ;
    margin-bottom: 23px;
    margin-right: 23px;

    padding: 250px 45px 10px 45px;
    position: relative;

    background-color: white;
    border-radius: 15px;
}

.section-placing__item:nth-child(3n) {
    margin-right: 0px;
}


.section-placing__item-image {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.section-placing__stars-container {
    display: inline-block;
    right: 45px;
    position: absolute;
}

.section-placing__price {
    color: black;

    font-family: Muller;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.section-placing__price-from {
    color: #999999;

    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.section-placing__duration {
    color: #000000;

    height: 16px;
    width: 47px;
    left: 99px;
    top: 4px;
    border-radius: nullpx;

}

.section-placing__price-container {
    margin-bottom: 16px;
}

.section-placing__placename {
    margin-bottom: 16px;

    color: black;

    font-family: Muller;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.section-placing__placelocation {
    margin-bottom: 20px;

    color: #999999;

    font-family: Muller;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.section-placing__button {
    display: inline-block;
}

.section-placing__item-last {
    box-sizing: border-box;
    flex: 0 0 374px;
    max-width: 374px;
    min-height: 440px;
    ;
    margin-bottom: 23px;

    padding: 373px 0px 0px 54px;

    border-radius: 15px;
    background-color: white;

    background-image: url("/img/placing/placing_more.png");
    background-repeat: no-repeat;
    background-position: cover;
}

.section-placing__item-last-content {
    display: inline-block;
    vertical-align: middle;

    color: white;

    font-family: Muller;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.section-placing__item-last-link-icon {
    display: inline-block;
    vertical-align: middle;

    margin-left: 2px;

    width: 10px;
    height: 18px;

    background-image: url("/img/placing/link.svg");
    background-repeat: no-repeat;
}

/* Section Tour */
.section-tour {
    margin-bottom: 70px;
}

.section-tour__container {
    padding: 35px 45px 70px 45px;
    box-sizing: border-box;
    background-color: #E9E9E9;
    border-radius: 15px;
}

.section-tour__heading {
    padding-left: 0px;
}

.section-tour__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px;

    border-radius: 15px;
    background-color: white;
}

.section-tour__item {
    flex: 1 1 10%;
}

.section-tour__item:not(:last-child) {
    padding: 0px 20px 0px 0px;
    border-right: 1px solid #E1E1E1;
    margin-right: 20px;
}

.section-tour__input-heading {
    font-family: Muller;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 15px;

    color: black;
    font-size: 12px;
    line-height: 12px;
}

.input-white-border {
    border: 1px solid white;
}

.section-tour__input-number {
    min-width: 120px;

    border: 1px solid white;
    border-bottom: 1px solid #CCC;
}

.section-tour__button {
    padding: 13px 30px;
}

.section-tour__input-font {
    color: black;
    font-size: 16px;
    font-family: Muller;
    font-weight: 400;
    line-height: 1;
}


/* section contacts */
.section-contacts {
    margin-bottom: 19px;
}

.section-contacts__subcontainer {
    display: flex;
    flex-direction: row;

    background-color: white;
    padding: 44px 44px 46px 46px;
    border-radius: 15px;
}

.section-contacts__right,
.section-contacts__left {
    flex: 1 1 40%;
}

.section-contacts__list {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-contacts__item:not(:last-child) {
    display: flex;
    padding-bottom: 23px;
    margin-bottom: 25px;
    margin-right: 50px;
    border-bottom: 1px solid #C4C4C4;
    ;
}

.section-contacts__item:last-child {
    flex: 1 0 10%;
    position: relative;
}

.section-contacts__contact-heading {
    display: inline-block;
    min-width: 145px;

    font-family: Muller;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.section-contacts__contact-details {
    display: inline-block;

    font-family: Muller;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.section-contacts__btn {
    display: inline-block;
    padding: 27px 29px;
    position: absolute;
    left: 0px;
    bottom: 0px;

    font-family: Muller;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

/* footer */
.footer__container {
    padding: 44px 52px;
    display: flex;

    box-sizing: border-box;

    background-color: #333333;
    border-radius: 15px;
    background-image: url("/img/footer-logo.svg");
    background-repeat: no-repeat;
    background-position-x: 737px;
    background-position-y: bottom;
    background-size: 254px auto;
    margin-bottom: 20px;
}

.footer__subcontainer-left {
    width: 320px;
    margin-right: 100px;

    display: flex;
    flex-direction: column;
}

.footer__subcontainer-center {
    display: flex;
    flex-direction: column;
}

.footer__subcontainer-right {
    display: flex;
    flex-direction: column;

    margin-left: auto;
}

.footer__subcontainer-spacer {
    height: 15px;
}

.footer__copyright {
    color: white;
    margin: 0px;

    font-family: Muller;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.footer__user-agreement-link {
    margin-top: 50px;

    font-family: Muller;
    font-size: 16px;
    font-weight: 400;
}

.footer__address {
    color: white;

    font-family: Muller;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    font-style: normal;
}

.footer__user-agreement-link {
    margin-right: auto;
}

.footer__address-link {

    margin-right: auto;
    font-style: normal;
}

.social-block__link {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.social-block__link:first-child {
    margin-top: 7px;
}

.social-block__link:hover,
.social-block__link:focus {
    filter: brightness(0) saturate(100%) invert(92%) sepia(16%) saturate(6187%) hue-rotate(335deg) brightness(86%) contrast(83%);
}

.social-block__link:active {
    filter: brightness(0) saturate(100%) invert(40%) sepia(93%) saturate(429%) hue-rotate(2deg) brightness(97%) contrast(91%);
}

.social-block__vk {
    background-image: url("/img/social/vk.svg");
}

.social-block__twitter {
    background-image: url("/img/social/twitter.svg");
}

.social-block__owl {
    background-image: url("/img/social/owl.svg");
}

.social-block__facebook {
    background-image: url("/img/social/facebook.svg");
}

.social-block__instagram {
    background-image: url("/img/social/instagram.svg");
}